  @font-face {font-family: "iconfont";
        src:url('../fonts/iconfont.ttf')format('truetype') /* chrome firefox opera Safari  Android  iOS 4.2+*/
    }


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-liucheng:before { content: "\e600"; }
.icon-37fangdichan:before { content: "\e609"; }
.icon-guanzhu:before { content: "\e601"; }
.icon-shezhi:before { content: "\e602"; }
.icon-xiaoxiguanli:before { content: "\e604"; }
.icon-xiaoxi:before { content: "\e60a"; }
.icon-aixin:before { content: "\e60e"; }
.icon-xiaoxi1:before { content: "\e605"; }
.icon-fangdichanye:before { content: "\e610"; }
.icon-xingxing:before { content: "\e60b"; }
.icon-mdliucheng:before { content: "\e606"; }
.icon-sousuo:before { content: "\e607"; }
.icon-fanhui:before { content: "\e60c"; }
.icon-index:before { content: "\e608"; }
.icon-xingxing1:before { content: "\e60f"; }
.icon-aixin1:before { content: "\e611"; }
.icon-wodezhongchou:before { content: "\e60d"; }
.icon-quxiao:before { content: "\e603"; }
.icon-arrfill_u-copy:before { content: "\e613"; }
.icon-ditu:before { content: "\e612"; }
.icon-03fenxiang:before { content: "\e614"; }
