 body,.mui-content{
    	background: #e4f4f8;
    }
       .mui-content>.mui-table-view:first-child{
        margin-top: 40px;
        }
        	.mui-table-view img{
    		width: 45px;
    		height: 45px;
    		border-radius: 50%;
    	}
    	.mui-table-view-cell label{
    		color: #1AAEED;
    		font-weight: bold;
    	
    	}
      .mb{
      	background: #fff; 
      	margin-top:40px ;
      	margin-bottom: 40px;
      }
      .po{
      	padding:10px 10px;
      }
      .po h5{
      	color: #1AAEED;
      	font-weight: bold;
      }
      .po p{
      	 text-indent:2em;
      }
      .comment{
      	background: #fff;
      	padding:5px 10px 10px 10px;
      	margin-bottom: 20px;
      }
      .star{
      	text-align: center;
      	vertical-align: middle;
      	line-height: 15px;
      	color: #1AAEED;
      }