    .container{
		
		     width: 100%;
		    margin:10 auto 0 auto ;
			display: -webkit-flex;
			flex-direction: column;
			
		}
        .mui-content .tit{
        	margin-top: 20px;
        	text-align: center;
        	
        }
          .mui-content .tit h3{
          	
          	font-size: 20px;
          	color: #1AAEED;
          }
         .mui-content .tit h4{
        	font-size: 16px;
        	color: #01465E;
        }
  
     .row{
     	flex: 1;
     	display: -webkit-flex; 
     	margin-bottom: -2px;
     	
     }
    
    .row-detail{
    	flex: 1;
    	margin-left: 1px;
    	margin-right: 1px;
    
    	position: relative;
    }
     .row-detail-big{
     	flex: 2;
     	margin-right: 1px;
     	margin-bottom: 1px ;
     	position: relative;
     }
    .price{
    	height:45px;
    	background-color:rgba(43,165,221,0.7); 
    	position: absolute;
    	width:100% ;
    	bottom: 4px;
    	text-align: left; 
    	
    }
        .detail img{
        	width: 45px;
        	height: 45px;
        	position: absolute; 
        	right: 2px;
        	top: 0px;
        }
    .detail h5{
       padding-left: 5px;
    	color: #fff;
    }

   

    .ad{
    	
    	margin-top: 30px;
    
    }
    .ad img{
    	display: block;
    	padding-bottom: -10px;
    }