 .mui-content>.mui-table-view:first-child{
        margin-top: 0px;
        }
     li{
     	position: relative;
     	margin-bottom: -4px;
     }
      .price{
    	height: 45px;
    	background-color:rgba(43,165,221,0.7); 
    	position: absolute;
    	width:100% ;    	
    	text-align: left; 
    	bottom: 3%;
    }
        .detail img{
        	width: 45px;
        	height: 45px;
        	position: absolute; 
        	right: 0;
        	top: 0px;
        }
    .detail h5{
       padding-left: 5px;
    	color: #fff;
    }