 body, .mui-content{
          	background: #1AAEED;
          }
          #person_detail{
          	background-color:lightskyblue;
          	border-radius: 5px;
          	width: 210px;
          	margin: 50px auto;
          	padding: 5px 2px 1px 10px; 
          }
          .head-img {
          	width: 45px;
          	height: 45px;
          	border-radius: 50%;
          	margin-right: 10px;
          }
          .text{
          	background: #fff; 
          	margin:10px 30px; 
          	text-align: center; 
          	padding: 10px 10px; 
          	border-radius: 5px;
          }
          textarea{
          	height:150px;
          }