<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>商业地产</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/global.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/iconfont.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/commercial_real.css" rel="stylesheet" />
	</head>

	<body>
		<div id="pullRefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul class="mui-table-view" style="padding-bottom: -1px;" id="comRealtyList">
					<li class="img-view" v-for="(index,item) in comRealtyList" @click="detail(item)" track-by="id">
						<img src="{{item.images[0].medium_image}}" width="100%" height="135px" />
						<div class="price">
							<div class="detail">
								<h5>{{item.name}}</h5>
								<h5>  ${{item.price}} </h5>
							<!--	<h5>{{item.room_num}} bd {{item.parlour_num}} ba</h5>-->
								<img v-if="item.liked_by_current_user" src="../images/index/red.svg" @click.stop="collect(index,true)"/>
								<img v-else src="../images/index/star.svg" @click.stop="collect(index,false)">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/api.js"></script>
		<script>
			mui.init({
				pullRefresh: {
					container: '#pullRefresh',
					down: {
						callback: pullDownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						contentnomore:'没有更多数据了',
						callback: pullUpRefresh
					}
				}
			});
			
			var api=new RealtyApi(localStorage["token"]);
			var next = null;
			var vm = new Vue({
				el: "#comRealtyList",
				data: {
					comRealtyList: []
				},
				methods: {
					detail: function(item) {
						var house = item;
						mui.openWindow({
							url: './commercial_detailpage.html',
							id: 'comRealtyDetail',
							extras: {
								house: house
							}
						});
					},
					collect:function(index,isCollect){
						if(isCollect){
							api.cancelCollectRealty(this.comRealtyList[index].unlike_by_current_user,function(){
								vm.comRealtyList[index].liked_by_current_user=false;
								vm.comRealtyList[index].unlike_by_current_user=null;
							});
						}else{
							api.collectRealty(this.comRealtyList[index].like_list,function(data){
								vm.comRealtyList[index].liked_by_current_user=true;
								vm.comRealtyList[index].unlike_by_current_user=data.unlike;
							});
						}
					}
				}
			});
			init(api);
			
			//下拉
			function pullDownRefresh() {
				init(api,true);
			}
			
			//上拉
			function pullUpRefresh() {
				if(next!==null){
					api.getRealtyList(function(data){
						mui('#pullRefresh').pullRefresh().endPullupToRefresh(true);
						vm.comRealtyList=vm.comRealtyList.concat(data.results);
						next=data.next;
					},next);	
				}else{
					mui('#pullRefresh').pullRefresh.endPullupToRefresh();
				}
			}
			
			//初始化
			function init(api,isRefresh){
				isRefresh=isRefresh||false;
				api.getRealtyList(function(data){
					next=data.next;
					vm.comRealtyList=data.results;
					if(isRefresh){
						mui('#pullRefresh').pullRefresh().endPulldownToRefresh();
					}
				},"",1)
			}
			
		</script>
	</body>

</html>