<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/list.css" />
	</head>

	<body>
		<div class="mui-content" id="reRealtyContainer">
			<!--标题-->
			<div class="tit">
				<h3>为您推荐</h3>
				<h4>美国家，美国梦</h4>
			</div>
			<!--标题-->
			<!--图片展示1-->

			<div class="container" v-if="realtyList.length>0">
				<div class="row">
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
					<div class="row-detail-big img-wrap">
						<a href="#">
							<img width="100%" src="images/index/11.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="mui-input-row" style="margin: 20px;">
					<button id="moreRealtyBtn" @click="moreRealty" type="button" class="mui-btn mui-btn-primary" style="width: 100%;background: #1aaeed;border: none;  ">查看更多推荐</button>
				</div>
			</div>

			<!--end 图片展示-->
			<!--标题1-->
			<div class="tit">
				<h3>北美商业地产</h3>
				<h4>投资理财新选择</h4>
			</div>
			<!-- end标题1-->
			<!--图片展示-->
			<div class="container" v-if="comRealtyList.length>0">
				<div class="row">
					<div class="row-detail-big img-wrap ">
						<a href="#">
							<img width="100%" class="mui-media-object" src="images/index/11.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
					<div class="row-detail img-wrap">
						<a href="#">
							<img width="100%" src="images/index/nusa3.png">
						</a>
						<div class="price">
							<div class="detail">
								<h5>  $849,00 </h5>
								<h5>5 bd 3 ba</h5>
								<img src="images/index/star.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="mui-input-row" style="margin: 20px;">
					<button id="moreComRealtyBtn" @click="moreComRealty" type="button" class="mui-btn mui-btn-primary" style="width: 100%;background: #1aaeed;border: none;  ">查看更多推荐</button>
				</div>
			</div>

			<!--end图片展示-->
			<!--广告区-->
			<div class="ad">
				<img src="images/index/ad1.jpg" width="100%" />
				<img src="images/index/ad2.jpg" width="100%" />
			</div>
			<!--广告区-->
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/app.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/api.js"></script>
		<script type="text/javascript" charset="UTF-8">
			mui.plusReady(function() {
				mui.init();
				var vm = new Vue({
					el: "#reRealtyContainer",
					data: {
						realtyList: [],
						comRealtyList: []
					},
					methods: {
						detail: function(url) {
							if (checkLogin()) {
								mui.openWindow({
									id: id,
									url: url,
									waiting: {
										autoShow: false
									}
								});
							}
						},
						moreRealty: function() {
							if (checkLogin()) {
								mui.openWindow({
									id: 'realtyListContainer',
									url: 'main/realtyListContainer.html',
									waiting: {
										autoShow: false
									},
									extras: {
										condition: {
											recommended: 2
										}
									}
								});
							}
						},
						moreComRealty: function() {
							if (checkLogin()) {
								mui.openWindow({
									id: 'comRealtyListContainer',
									url: 'main/comRealtyListContainer.html',
									waiting: {
										autoShow: false
									},
									extras: {
										condition: {
											recommended: 2
										}
									}
								});
							}
						}
					}
				});
			});
		</script>
	</body>

</html>