<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mui.imageviewer.css" rel="stylesheet" />
		<link href="css/app.css" rel="stylesheet" />
		<link href="css/chat.css" rel="stylesheet" />
		<style>
			#sendMsgBtn{
				background: #1aaeee;
				border: none;
			}
		</style>
	</head>

	<body contextmenu="return false;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"></h1>
		</header>
		<div class="mui-content">
			<div id='msg-list'>
				<chat-item v-for="item in chatList" :item="item" :user="user" :target-photo="targetPhoto" :user-photo="userPhoto" track-by="$index"></chat-item>
			</div>
		</div>
		<footer>
			<div class="footer-left">
				<input id="msgContent" type="text" class="message-content"/>
			</div>
			<div class="footer-right">	
				<button type="button" class="mui-btn mui-btn-primary message-submit" id="sendMsgBtn">发送</button>
			</div>
			
		</footer>
		<template id="chatItem">
				<div class="msg-item" :class="item.sender===user?'msg-item-self':''">
					<img v-if="item.sender===user" class="msg-user-img" style="float: right;" src="{{userPhoto}}" alt=""  />
					<img v-else class="msg-user-img" style="float: left;" src="{{targetPhoto}}" alt=""  />
					<div class="msg-content">
						<div class="msg-content-inner">
							{{item.body}}				
						</div>
						<div class="msg-content-arrow"></div>
					</div>
					<div class="mui-item-clear"></div>
				</div>
		</template>
		<script src="js/mui.min.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/api.js"></script>
		<script>
			mui.plusReady(function(){
				var self=plus.webview.currentWebview();
				var url=self.url;
				var targetPhoto=self.photo;
				var api=new RealtyApi(plus.storage.getItem('token'));
				var user=JSON.parse(plus.storage.getItem('user'));
				var target=self.target;
				$('.mui-title').html(target);
				var vm=new Vue({
					el:"#msg-list",
					data:{
						chatList:[],
						user:user.username,
						targetPhoto:targetPhoto,
						userPhoto:user.photo
					},
					components:{
						'chat-item':{
							template:"#chatItem",
							props:['item','user','targetPhoto','userPhoto']
						}
					}
				});
				api.getChatList(url,function(data){
					if(data.results){
						vm.chatList=data.results.reverse();
					}
				},function(){
					mui.toast('加载失败！');
				});
				//发送消息
				document.getElementById('sendMsgBtn').addEventListener('tap',function(){
					var content=$('#msgContent').val();
					if(content!=""){
						var data={
									body:content,
									realty:null,
									file:null
								};
						api.sendMessage(url,data,function(data){
							mui.back();
							mui.toast('发送成功！');
						},function(){
							mui.toast('发送失败，请稍后再试！');
						});
					}else{
						mui.toast('消息内容不能为空');
					}
				});
			});
		</script>
	</body>

</html>