<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>  
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <style>
    .mui-pull-bottom-tips {
		text-align: center;
		background-color: #efeff4;
		font-size: 15px;
		line-height: 40px;
		color: #777;
	}
	.mui-scroll-wrapper{
		position: absolute;
		top: 104px;
		bottom: 0px;
		left: 0px;
	}
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">发布列表</h1>
	</header>
	<div class="mui-content mui-fullscreen" id="releaseList">
		<div style="padding: 10px 10px;">
				<div class="mui-segmented-control">
					<a class="mui-control-item mui-active" href="#realtyListContainer">房屋</a>
					<a class="mui-control-item" href="#comRealtyListContainer">地产</a>				
				</div>
		</div>
		<div id="realtyListContainer" class="mui-control-content mui-active mui-scroll-wrapper">
			<div class="mui-scroll">
				 <ul id="realtyList" class="mui-table-view mui-table-view-chevron releaseList">
					<li v-for="(index,item) in realtyList" track-by="id" class="mui-table-view-cell mui-media">		
						<img class="mui-media-object mui-pull-left" src="{{item.images[0].thumbnail_image}}">
						<div class="mui-media-body">
							{{item.name}}
							<p class='mui-ellipsis'>{{item.date_added}}</p>
						</div>	
						<div class="action-list">
							<span class="dele-icon" @click="delete(item)"></span>
							<span class="edit-icon" @click="edit(item)"></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	   <div id="comRealtyListContainer" class="mui-control-content mui-scroll-wrapper">
			<div class="mui-scroll">
				 <ul id="comRealtyList" class="mui-table-view mui-table-view-chevron releaseList">
					<li v-for="(index,item) in comRealtyList" track-by="id" class="mui-table-view-cell mui-media">		
						<img class="mui-media-object mui-pull-left" src="{{item.images[0].thumbnail_image}}">
						<div class="mui-media-body">
							{{item.name}}
							<p class='mui-ellipsis'>{{item.date_added}}</p>
						</div>	
						<div class="action-list">
							<span class="dele-icon" @click="delete(item,1)"></span>
							<span class="edit-icon" @click="edit(item,1)"></span>
						</div>
					</li>
				</ul>
			</div>
		</div> 	
	</div>
	<script src="js/mui.min.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/vue-tap-click.js"></script>
	<script src="js/api.js"></script>
	<script src="js/mui.pullToRefresh.js"></script>
	<script src="js/mui.pullToRefresh.material.js"></script>
	<script type="text/javascript" charset="UTF-8">
    mui.plusReady(function(){
    	mui.init();
    	//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		var str="";
    	var rlNext=null;
    	var crlNext=null;
    	var api=new RealtyApi(plus.storage.getItem('token'));
    	//滚动
    	mui('.mui-scroll-wrapper').scroll({
			bounce: false,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});
		//上拉加载
		mui.each(document.querySelectorAll('.mui-scroll'), function(index, pullRefreshEl) {
			mui(pullRefreshEl).pullToRefresh({
				up: {
					contentnomore:'没有更多数据了',
					callback: function() {
						if(index==0){
							if(rlNext!==null){
								api.getMyRealtyList(function(data){
									vm.realtyList=vm.realtyList.concat(data.results);
									rlNext=data.next;
								},rlNext,1);
								this.endPullUpToRefresh();
							}else{
								this.endPullUpToRefresh(true);
							}
						}else{
							if(crlNext!==null){
								console.log(crlNext);
								api.getMyRealtyList(function(data){
									vm.comRealtyList=vm.comRealtyList.concat(data.results);
									crlNext=data.next;
								},crlNext,2);
								this.endPullUpToRefresh();
							}else{
								this.endPullUpToRefresh(true);
							}
						}
					}
				}
			});
		});
    	var vm=new Vue({
    		el:"#releaseList",
    		data:{
    			realtyList:[],
    			comRealtyList:[]
    		},
    		methods:{
    			delete:function(item,type){
    				console.log(item.detail);
    				type=type||0;
    				mui.confirm('是否删除房产？', '确认', ['确定','取消' ], function(e) {
						if (e.index == 0) {
							api.deleteRealty(item.detail,function(){
								if(type==0){
									vm.realtyList.$remove(item);
								}else{
									vm.comRealtyList.$remove(item);
								}
							});
						}
					});
    			},
    			edit:function(item,type){
    				type=type||0;
    				if(type==0){
    					mui.openWindow({
			      			url:'editRealtyInfo.html',
			      			id:'editRealtyInfo',
			      			extras:{
								data:item
							}
			      		});
    				}else{
    					mui.openWindow({
			      			url:'editComRealtyInfo.html',
			      			id:'editComRealtyInfo',
			      			extras:{
								data:item
							}
			      		});
    				}
    				
    			}
    		}
    	});
    	refurbish(api);
    	//刷新数据
    	function refurbish(api){
    		api.getMyRealtyList(function(data){
    			vm.realtyList=data.results;
    			rlNext=data.next;
    		},"",3);
    		api.getMyRealtyList(function(data){
    			vm.comRealtyList=data.results;
    			crlNext=data.next;
    		},"",2);
    	}
    })	
    </script>
</body>
</html>