<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>房屋</title>

		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/cd_and_hs.css" />
		<link rel="stylesheet" href="../css/iconfont.css" />
		<style>
			.mui-media-object{
				width: 100%!important;
				height: 135px!important;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="back"></a>

			<span class="mui-pull-right mui-icon iconfont icon-03fenxiang " style="color: #fff;">
					
				</span>
			<h1 class="mui-title">房屋</h1>

		</header>
		<nav class="mui-bar mui-bar-tab">
			<button id="person" class="mui-btn mui-btn-primary mui-btn-block">和我们联系,为您一站式服务</button>
		</nav>
		<div class="mui-content" id="realtyDetail">
			<div class="mui-slider ">
				<div class="mui-slider-group mui-slider-loop">
					<div class="mui-slider-item mui-slider-item-duplicate">
						<img class="mui-media-object" src="{{house.images[house.images.length-1].big_image}}" data-preview-src="">
					</div>
					<div class="mui-slider-item " v-for="item in house.images">
						<img class="mui-media-object" src="{{item.big_image}}" data-preview-src="" data-preview-group="1">
					</div>
					<div class="mui-slider-item mui-slider-item-duplicate">
						<img class="mui-media-object" src="{{house.images[0].big_image}}" data-preview-src="">
					</div>
				</div>

				<div class="mui-slider-indicator">
					<span class="mui-action mui-action-previous mui-icon mui-icon-back"></span>
					<div class="mui-number">
						<span>1</span>
					</div>
					<span class="mui-action mui-action-next mui-icon mui-icon-forward"></span>

				</div>
				<!--<span class=" mui-icon iconfont icon-aixin "></span>-->
			</div>

			<div class="adder mui-clearfix">
				<div class="left_tit">
					<h5>{{house.name}}</h5>
				</div>
				<div class="right_tit">
					<h4>{{house.price}}</h4>

					<span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="mui-icon iconfont icon-ditu"></span>&nbsp;{{house.status_display}}</span>
				</div>
			</div>

			<div class="det">
				<h4>详细信息</h4>
				<ul>
					<li>
						<label>状态</label>
						<span>{{house.status_display}}</span>
					</li>
					<li>
						<label>价格</label>
						<span>{{house.price}}</span>
					</li>
					<li>
						<label>平方均价</label>
						<span>{{avgPrice}}</span>
					</li>
					<li>
						<label>房间</label>
						<span>{{house.room_num}}</span>
					</li>
					<li>
						<label>客厅</label>
						<span>{{house.parlour_num}}</span>
					</li>
					<li>
						<label>厕所</label>
						<span>{{house.toilet_num}}</span>
					</li>

					<li class="mui-clearfix address">
						<label style="">地址</label>
						<p style="">{{house.address}}</p>
					</li>

				</ul>

			</div>
			<div class="hourse_des">
				<h4>房屋描述</h4>
				<p>{{house.description}}</p>
			</div>

			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-collapse real-global" style="">
						<a class="mui-navigate-right" href="#">年房产税</a>
						<div class="mui-collapse-content">
							<div class="mui-row">
								<label>房产税</label>
								<span>${{house.tax}}</span>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">周边</a>
						<div class="mui-collapse-content">
							<div class="mui-row" v-for="item in house.surroundings">
								<span>{{item.facility.name}}</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="order">
				预约现场视频看房
			</div>

		</div>

		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script>
			mui.init();
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var house = self.house;
				new Vue({
					el: "#realtyDetail",
					data: {
						house: house
					},
					computed: {
						avgPrice: function() {
							var price = parseFloat(house.price);
							var area = parseFloat(house.area);
							return (price / area).toFixed(2);
						}
					}
				});
				mui.previewImage();			
				document.getElementById('person').addEventListener('tap', function() {
					//发送消息
					mui.openWindow({
						url: 'sendMessage.html',
						id: 'sendMessage',
						extras:{
							agent:house.agent,
							realty:house.id
						},
						waiting: {
							autoShow: false
						}
					});
				});
			})
		</script>
	</body>

</html>