.container{
	width: 35%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow:0 0 5px  rgba(255,255,255,0.8);
	padding: 5px;
	text-align: center;
}
.login-box{
	height: 300px;
	border-radius: 5px;
	background: url("../img/login_bg/login_box.png") repeat-x;
}
.title{
	margin: 0;
	color: #FFF;
	height: 80px;
	line-height: 80px;
	font-size: 32px;
}
.username-group input::before,.password-group input::before{
	content: "";
	display: inline-block;
	
	height: 30px;
}
.username-group input::-webkit-input-placeholder,.password-group input::-webkit-input-placeholder{
	color: #FFFFFF;
}
.username-group{
	margin-top: 50px;
}
.username-group,.password-group{
	width: 70%;
	margin:  auto;
	border-bottom: solid 1px #FFF;
	height: 55px;
}
.username-group input,.password-group input{
	width: 80%;
	text-indent: 20px;
	border:none;
	border-left: solid 1px #FFF;
	background: none;
	font-size: 16px;
}
.username-group i,.username-group input,.password-group i,.password-group input{
	margin-top: 15px;
	color: #FFF;
	line-height: 30px;
	height: 30px;
	
}
.username-group i,.password-group i{
	font-size: 22px;
	text-indent: 10px;
}
.action-group{
	width: 60%;
	margin: 30px auto 0 auto;
	
}
.action-group button{
	border: none;
	border-radius: 5px;
	background-color: #FFF;
	height: 40px;
	line-height: 40px;
	width: 120px;
	color:rgb(94, 94, 141);
	font-size: 18px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
#sub i,#cancel i{
	font-size: 22px;
}