/*公共样式*/
.bg{
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
}
.container{
	width: 1000px;
	margin: 20px auto 0 auto;
}
#search_txt::-webkit-input-placeholder{
	color: #FFF;
}
#search,#upload,#search_txt{
	height: 40px;
	font-size: 16px;
	box-shadow: 0 0 3px #FFF;
	border: none;
	border-radius: 5px;
	color: #FFF;
	margin-right: 10px;
}
#search_txt{
	text-indent: 20px;
	height: 38px;
	line-height: 38px;
	padding: 0;
	width: 710px;
	background-color: rgba(254,254,254,.2);
}
#search i,#upload i{
	font-size: 20px;
	margin-right: 20px;
}
#search i{
	margin-right: 10px;
}		
#upload i{
	margin-right: 20px;
}		
#search{			
	width: 100px;
	background: url("../img/img_manage/search_bg.png") repeat-x;
}
#upload{
	width: 150px;
	background: url("../img/img_manage/upload_bg.png") repeat-x;
	margin-right: 0;
}
.content-box{
	margin-top: 25px;
	width: 100%;
	height: 450px;
	background-color: rgba(254,254,254,.7);
	border-radius: 5px;
	box-shadow: 0 0 3px #FFF;
	position: relative;
}
.hr{	
	width: 100%;
	height: 40px;
	border-bottom: solid 1px #8b8cab ;
}
/*素材管理*/
.img-content-list{
	list-style: none;
	width: 950px;
	margin: 20px auto;
	padding-bottom: 50px;
}
.img-content-list li{
	float: left;
	width: 190px;
	text-align: center;
}
.img-content-list li img:hover{
	cursor: pointer;
}
.img-content-list li img{
	width: 180px;
}
.img-tag{
	background-color: #8b8cab;
	color: #fff;
	width: 25px;
	font-size: 16px;
	border-radius: 10px 0 0 10px;
	padding:10px 0 10px 5px;
	position: absolute;
	left: -30px;
}
/*知识库管理*/
.doc-tab-bar{
	overflow: hidden;
	margin-left: 20px;
}
.doc-tab-bar li{
	float: left;
	width: 70px;
	height: 30px;
	color: #8b8cab;
	line-height: 30px;
	text-align: center;
	border: solid 1px #8b8cab ;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 10px 10px -1px 0;
}
.doc-tab-bar li:hover,.doc-action-group button:hover{
	cursor: pointer;
}
.tab-bar-active{
	color: #FFF!important;
	background-color: #FF0080;
	border: none!important;
	box-shadow: 2px 2px 3px #fc716a;
}
.doc-content{
	width: 95%;
	margin: 20px auto 0 auto;
}
.doc-content-list{
	height: 390px;
	overflow-y: auto;
}
.doc-content-item{
	position: relative;
	float: left;
	width: 140px;
	height: 180px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px gray;
	background-color: #FFF;
	border: none;
	margin-right: 15px;
	margin-bottom: 20px;
	overflow: hidden;
}
.doc-content-item img{
	width: 140px;
	height: 150px;
}
.doc-title{
	width: 100%;
	height: 30px;
	color: #FFF;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 120px;
	left: 0px;
	text-indent: 10px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.doc-action-group{
	position: absolute;
	top: -22px;
	right: 5px;
}
.doc-action-group button{
	background-color: #FFF;
	opacity: .8;
	border: none;
	border-radius: 3px;
	margin-right: 1px;
	font-size: 15px;
}
.doc-action-group button:hover{
	color: #FFF;
	background-color: #FF0080;
}
.doc-content-item p{
	height: 30px;
	line-height: 30px;
	text-indent: 5px;
	font-size: 11px;
	font-weight: bold;
}
.doc-content-item span{
	color: gray;
	font-size: 10px;
	font-weight: normal;
	float: right;
	margin-right: 5px;
}
/*素材查询页面*/
.re-doc-content-item{
	height: 140px;
}
/*文档上传模态框*/
#upload-modal{
	border-radius: 10px;
	width: 300px;
}
#upload-modal .modal-header{
	border-radius: 10px 10px 0 0;
	background-color: #48a0a7;
	height: 10px;
	border-bottom: solid 5px #2e7b91;
}
#upload-modal .modal-body{
	position: relative;
}
#upload-modal .modal-body h4{
	font-size: 16px;
	text-indent: 10px;
	border-left:solid 5px #2e7b91;
	color: #2e7b91;
	font-weight: bold;
}
#upload-modal .modal-header .close{
	position: absolute;
	right: 10px;
	top: -3px;
	font-size: 20px;
	font-weight: bold;
}
.doc-title-input,.choose-file,.doc-description{
	background-color: #d5e5e9;
	color: #2e7b91;
	border: none;
	border-radius: 5px;
}
.doc-title-input{
	height: 30px;
}
.doc-title-input,.doc-description{
	width: 268px;
	text-indent: 5px;
}
.choose-file{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.doc-description{
	resize: none;
	height: 80px;
}
.confirm-upload{
	border-radius: 5px;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	border: none;
	padding: 15px 0px;
	background: url("../img/img_manage/upload_bg.png") repeat-x; 
}
#upload-modal .confirm-upload{
	width: 268px;
}
.upload-waiting-container{
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.upload-waiting{
	width: 150px;
	height: 50px;
	font-size: 16px;
	color: darkgrey;
	text-align: center;
	line-height: 50px;
	background-color: #FFF;
	position: absolute;
	margin-left: 50%;
	top: 300px;
	left: -75px;
	
	
}
.upload-waiting img{
	height: 30px;
	margin-right: 10px;
}
/*素材上传模态框*/
#img-upload-modal{
	border-radius: 5px;
	width: 700px;
	background-color: rgba(255,255,255,.6);
}
#img-upload-modal .close{
	/*background-color: #FFF;*/
	font-size: 25px;
	position: absolute;
	top: -2px;
	font-weight: bold;
	color: #454575;
	
}
#img-upload-modal .modal-header{
	height: 20px;
	border-radius: 5px 5px 0 0;
}
#img-upload-modal .modal-footer{
	text-align: center;
}
#img-upload-modal .confirm-upload{
	width: 80%;
	height: 50px;
	margin: 0 auto;
	margin-top: 15px;
}
.img-upload-panel,.vedio-upload-panel{
	width: 90%;
	margin: 0 auto;
	background-color: #FFF;
	border-radius: 3px;
	border-top-left-radius: 0;
	border: none;
	box-shadow: 2px 2px 3px #000;
	/*height: 450px;*/
	text-align: center;
}
.upload-tab{
	margin-left: 5%;
}
.upload-tab li{
	float: left;
	width: 80px;
	background-color: #e6e5e5;
	color: white;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-radius: 3px 3px 0 0;
	margin-right: 10px;
	font-size: 16px;
}
.upload-tab-active{
	background-color: white!important;
	color: #454575!important;
}
.upload-tab li:hover{
	cursor: pointer;
}
.upload-form{
	padding: 20px 20px 0px 20px;	
}
.upload-form .row{
	padding: 10px 0;
}
.upload-form .row .form-label{
	border-left: solid 5px #454575;
	color: #454575;	
}
.upload-form .input-text{
	border:none;
	background-color: #e6e5e5;
	color: #454575;
}
.upload-form .btn-upload .btn{
	background-color: #454575;
	color: #fff;
}
.upload-form .select-box,.upload-form .select{
	background-color: #e6e5e5;
}
/*微信后台打印记录查询*/
.wp-table{
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px #8c8cbf;
	background-color: #FFF;
}
.wp-table thead td{
	font-weight: bold;
	font-size: 14px;
}
.wp-table td{
	text-align: center;
	color: #8c8cbf;
}
.wp-table .wp-icheck-td{
	text-align: left;
	text-indent: 10px;
}
.wp-table thead{
	font-size: 16px;
}
.wp-action-group button{
	border: none;
	background:none;
	font-size: 16px;
	text-align: center;
	color: #8c8cbf;
}
.wp-success-status{
	color: #63b6c1!important;
	border-color: #63b6c1;
}
.wp-fail-status{
	color: #fc716a!important;
	border-color: #fc716a;
}
.wp-printing-status{
	color: #8c8cbf!important;
	border-color: #8c8cbf;
}
.wp-search-item-list{
	margin-top: 10px;
}
.wp-search-item-list dd,.wp-search-item-list dt{
	float: left;
	font-size: 18px;

}
.wp-search-item-list dd{
	width: 100px;
	border-radius: 5px;
	color: #fff;
	background-color: #8c8cbf;
	text-align: center;
	margin-right: 15px;
	line-height: 30px;
	height: 30px;
}
.wp-search-item-container{
	width: 800px;
}
.wp-search-item-container ul li,.wp-search-item-container ul li a{
	float: left;
	margin-right: 10px;
	/*min-width: 80px;*/
	/*max-width: 150px;*/
	text-align: center;
	color: #8c8cbf;
	padding: 1px 5px;
	border-radius: 5px;
}
.wp-search-item-active{
	padding: 0 4px!important;
	border: 1px solid #8c8cbf;
}
.wp-summary{
	padding-top: 10px;
	width: 1000px;
	text-align: center;
}
.wp-summary li{
	display: inline-block;
	height: 60px;
	width: 100px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px #8c8cbf;
	background-color: #FFF;
	margin-right: 80px;
}
.wp-summary-title,.wp-summary-count{
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}
.wp-summary-title{
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.wp-summary-count{
	font-size: 14px;
}
.wp-summary .wp-summary-active{
	border-left-width: 8px;
	border-left-style: solid;
}
.wp-summary .wp-summary-active .wp-summary-title i{
	display: inline-block;
	width: 3px;
	height: 12px;
	margin-left: -5px;
	margin-right: 10px;
}
.wp-action-group button,.wp-summary li,.wp-search-item-container li,.wp-device{
	cursor: pointer;
}
.wp-success-bg{
	background-color: #63b6c1;
}
.wp-fail-bg{
	background-color:  #fc716a;
}
.wp-printing-bg{
	background-color: #8c8cbf;
}
.wp-delete-group{
	margin-top: 5px;
	display: none;
}
.wp-delete-group button{
	border: 1px solid #8c8cbf;
	border-radius: 5px;
	width: 80px;
	height: 30px;
}
.wp-delete-group .wp-delete{
	background-color: #8c8cbf;
	color: #FFF;
}
.wp-delete-group .wp-cancel{
	background-color: #FFF;
	color: #8c8cbf;
}
/*微信删除模态框*/
#wp-delete-modal{
	border-radius: 10px;
	width: 400px;
}
#wp-delete-modal .modal-header{
	border-radius: 10px 10px 0 0;
	background-color: #48a0a7;
	height: 10px;
	border-bottom: solid 5px #2e7b91;
}

#wp-delete-modal .modal-header .close{
	position: absolute;
	right: 10px;
	top: -3px;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
}
#wp-delete-modal .modal-body p{
	text-align: center;
	color: #8c8cbf;
	font-size: 16px;
}
.wp-delete-modal .modal-footer{
	text-align: center;
}
.wp-delete-cancel,.wp-delete-sure{
	border-radius: 5px;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	border: none;
	padding: 10px 0px;
	width: 150px;

}
.wp-delete-cancel{
	background: url("../img/img_manage/upload_bg.png") repeat-x;
	margin-right: 50px;
}
.wp-delete-sure{
	background: url("../img/img_manage/search_bg.png") repeat-x;
}
.wp-delete-cancel i,.wp-delete-sure i{
	margin-right: 15px;
}
/*微信详情模态框*/
#wp-detail-modal{
	border-radius: 15px;
	width: 500px;
	background-color: rgba(255,255,255,.6);
}
#wp-detail-modal .close{
	/*background-color: #FFF;*/
	font-size: 25px;
	position: absolute;
	top: -2px;
	font-weight: bold;
	color: #454575;

}
#wp-detail-modal .modal-header{
	height: 20px;
	border-radius: 15px 15px 0 0;
}
.wp-detail-title{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: #FFF;
	border-radius: 10px 10px 0 0;
	box-shadow: 2px 2px 5px grey;
	text-align: center;
}
#wp-detail-modal .modal-footer{
	text-align: center;
	border-radius: 0 0 15px 15px;
}
.wp-detail-tb{
	background-color: #FFF;
	box-shadow: 2px 2px 5px grey;
}
.wp-detail-tb td,.wp-detail-title{
	color: #8c8cbf;
	font-size: 14px;
	font-weight: bold;
}
.wp-detail-tb td i{
	display: inline-block;
	width: 3px;
	height: 12px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #8c8cbf;
}
/*微信打印机信息提示框*/
.wp-device{
	position: relative;
}
.wp-device-tip{
	position: absolute;
	width: 100px;
	height: 80px;
	border-radius: 5px;
	border:1px solid #8c8cbf;
	box-shadow: 0 0 5px  #8c8cbf;
	z-index: 5;
	right: -85px;
	top:-18px;
	background-color: #FFF;
	padding: 0px 3px;
	display: none;
}
.wp-device-tip::before{
	content: "";
	display: block;
	width: 20px;
	height: 25px;
	background: url("../img/wechat_print/tip_arrow.png") no-repeat;
	background-size: cover;
	position: absolute;
	left: -20px;
	top: 25px;
	z-index: 5;
}
.wp-device-place{
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #8c8cbf;
	text-align: center;
}
.wp-device-place i{
	display: inline-block;
	width: 3px;
	height: 12px;
	margin-left: 5px;
	margin-right: 10px;
	background-color: #8c8cbf;
}
.wp-device-success,.wp-device-fail{
	height: 20px;
	line-height: 20px;
	margin-bottom: 0;
}
.wp-device-fail{
	color: red;
}
