/*公共样式*/
.bg{
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
}
.container{
	width: 1000px;
	margin: 20px auto 0 auto;
}
#search_txt::-webkit-input-placeholder{
	color: #FFF;
}
#search,#upload,#search_txt{
	height: 40px;
	font-size: 16px;
	box-shadow: 0 0 3px #FFF;
	border: none;
	border-radius: 5px;
	color: #FFF;
	margin-right: 10px;
}
#search_txt{
	text-indent: 20px;
	height: 38px;
	line-height: 38px;
	padding: 0;
	width: 710px;
	background-color: rgba(254,254,254,.2);
}
#search i,#upload i{
	font-size: 20px;
	margin-right: 20px;
}
#search i{
	margin-right: 10px;
}		
#upload i{
	margin-right: 20px;
}		
#search{			
	width: 100px;
	background: url("../img/img_manage/search_bg.png") repeat-x;
}
#upload{
	width: 150px;
	background: url("../img/img_manage/upload_bg.png") repeat-x;
	margin-right: 0;
}
.content-box{
	margin-top: 25px;
	width: 100%;
	height: 450px;
	background-color: rgba(254,254,254,.7);
	border-radius: 5px;
	box-shadow: 0 0 3px #FFF;
}
.hr{	
	width: 100%;
	height: 40px;
	border-bottom: solid 1px rgba(0,0,0,.6) ;
}
/*素材管理*/
.img-content-list{
	list-style: none;
	width: 950px;
	margin: 20px auto;
	padding-bottom: 50px;
}
.img-content-list li{
	float: left;
	width: 190px;
	text-align: center;
}
.img-content-list li img:hover{
	cursor: pointer;
}
.img-content-list li img{
	width: 180px;
}
/*知识库管理*/
.doc-tab-bar{
	overflow: hidden;
	margin-left: 20px;
}
.doc-tab-bar li{
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: solid 1px rgba(0,0,0,.6) ;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 10px 5px -1px 0;
}
.doc-tab-bar li:hover,.doc-action-group button:hover{
	cursor: pointer;
}
.tab-bar-active{
	color: #FFF;
	background-color: #FF0080;
}
.doc-content{
	width: 95%;
	margin: 20px auto 0 auto;
}
.doc-content-list{
	height: 390px;
	overflow-y: auto;
}
.doc-content-item{
	position: relative;
	float: left;
	width: 140px;
	height: 180px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px gray;
	background-color: #FFF;
	border: none;
	margin-right: 15px;
	margin-bottom: 20px;
	overflow: hidden;
}
.doc-content-item img{
	width: 140px;
	height: 150px;
}
.doc-title{
	width: 100%;
	height: 30px;
	color: #FFF;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 120px;
	left: 0px;
	text-indent: 10px;
	line-height: 30px;
}
.doc-action-group{
	position: absolute;
	top: -22px;
	right: 5px;
}
.doc-action-group button{
	background-color: #FFF;
	opacity: .8;
	border: none;
	border-radius: 3px;
	margin-right: 1px;
	font-size: 15px;
}
.doc-action-group button:hover{
	color: #FFF;
	background-color: #FF0080;
}
.doc-content-item p{
	height: 30px;
	line-height: 30px;
	text-indent: 5px;
	font-size: 11px;
	font-weight: bold;
}
.doc-content-item span{
	color: gray;
	font-size: 10px;
	font-weight: normal;
	float: right;
	margin-right: 5px;
}
/*素材查询页面*/
.re-doc-content-item{
	height: 140px;
}
/*文档上传模态框*/
#upload-modal{
	border-radius: 10px;
	width: 300px;
}
#upload-modal .modal-header{
	border-radius: 10px 10px 0 0;
	background-color: #48a0a7;
	height: 15px;
	border-bottom: solid 5px #2e7b91;
}
#upload-modal .modal-body{
	position: relative;
}
#upload-modal .modal-body h4{
	font-size: 16px;
	text-indent: 10px;
	border-left:solid 5px #2e7b91;
	color: #2e7b91;
	font-weight: bold;
}
#upload-modal .modal-body .close{
	position: absolute;
	right: 10px;
}
.doc-title-input,.choose-file,.doc-description{
	background-color: #d5e5e9;
	color: #2e7b91;
	border: none;
	border-radius: 5px;
}
.doc-title-input{
	height: 30px;
}
.doc-title-input,.doc-description{
	width: 268px;
	text-indent: 5px;
}
.choose-file{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.doc-description{
	resize: none;
	height: 80px;
}
.confirm-upload{
	border-radius: 5px;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	border: none;
	padding: 15px 0px;
	background: url("../img/img_manage/upload_bg.png") repeat-x; 
}
#upload-modal .confirm-upload{
	width: 268px;
}
/*素材上传模态框*/
#img-upload-modal{
	border-radius: 5px;
	width: 700px;
	background-color: rgba(255,255,255,.6);
}
#img-upload-modal .close{
	/*background-color: #FFF;*/
	font-size: 25px;
	position: absolute;
	top: -2px;
	font-weight: bold;
	color: #454575;
	
}
#img-upload-modal .modal-header{
	height: 20px;
	border-radius: 5px 5px 0 0;
}
#img-upload-modal .modal-footer{
	text-align: center;
}
#img-upload-modal .confirm-upload{
	width: 80%;
	height: 50px;
	margin: 0 auto;
	margin-top: 15px;
}
.img-upload-panel,.vedio-upload-panel{
	width: 90%;
	margin: 0 auto;
	background-color: #FFF;
	border-radius: 3px;
	border-top-left-radius: 0;
	border: none;
	box-shadow: 2px 2px 3px #000;
	/*height: 450px;*/
	text-align: center;
}
.upload-tab{
	margin-left: 5%;
}
.upload-tab li{
	float: left;
	width: 80px;
	background-color: #e6e5e5;
	color: white;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-radius: 3px 3px 0 0;
	margin-right: 10px;
	font-size: 16px;
}
.upload-tab-active{
	background-color: white!important;
	color: #454575!important;
}
.upload-tab li:hover{
	cursor: pointer;
}
.upload-form{
	padding: 20px 20px 0px 20px;	
}
.upload-form .row{
	padding: 10px 0;
}
.upload-form .row .form-label{
	border-left: solid 5px #454575;
	color: #454575;	
}
.upload-form .input-text{
	border:none;
	background-color: #e6e5e5;
	color: #454575;
}
.upload-form .btn-upload .btn{
	background-color: #454575;
	color: #fff;
}
.upload-form .select-box,.upload-form .select{
	background-color: #e6e5e5;
}
