li{
    	 background-color:rgba(1,170,237,0.2);
    	}
    	.mui-content>.mui-table-view:first-child{
    		margin-top: 0px;
    	}
     .mui-table-view:before,.mui-table-view-cell:before, .mui-table-view:after, .mui-table-view-cell:after{
				left: 0px;
				background-color: #1AAEED;
			}
		.mui-button-row{
			text-align: center;
			margin: 50% 10px 0px 10px;
		}
		.mui-button-row	.mui-btn-primary{
			padding-top: 5px;
			padding-bottom: 5px; 
			background: #1AAEED; 
			border: none;
		}